body {
  font-family: 'Open Sans', sans-serif;
}

nav {
  height: 4rem;
  line-height: 4rem;
}

nav img {
  height: 0.8rem;
  padding-left: 100px;
}

a {
  text-decoration: none;
}

nav a {
  color: black;
  font-size: 10px;
}

nav ul {
  text-align: right;
}

.list-inline li {
  display: inline-block;
}

.links li {
  padding-left: 20px;
}

.links li:last-child a {
  padding-right: 10px;
}

.lang li a {
  padding-left: 5px;
}

.lang li:not(:last-child) a {
  border-right: 1px solid black;
  padding-right: 10px;
}

.hero {
  height: 795.45px;
  text-align: center;
  background-image: url(../img/heroimage.jpg);
  background-size: cover;
  background-position: bottom;
  color: white;
  position: relative;
  margin-bottom: 60px;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.hero img {
  height: 52.67px;
  margin: 0 20px;
}

.hero h1 {
  font-size: 48px;
}

.hero h2 {
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 32px;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.offer {
  text-align: center;
}

.offer h3 {
  font-size: 20px;
  font-weight: 400;
  margin: 32px 0;
}

.learn-more a {
  text-decoration: none;
  font-size: 20px;
  color: #4696d5;
}

.learn-more-white a {
  text-decoration: none;
  font-size: 20px;
  color: white;
}

.helbizgo-logo, .helbizbike-logo {
  height: 22.42px;
}

.helbizgo-photo, .helbizbike-photo {
  height: 340px;
}

.go {
  margin-right: 20px;
}

.bike {
  margin-left: 20px;
}

.go, .bike {
  background-color: #fafafa;
  padding: 96px 48px 32px;
}

.how {
  height: 846.66px;
  margin-top: 60px;
  position: relative;
}

.how h2 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 360px;
  margin-right: 50px;
}

.how h3 {
  font-size: 20px;
  margin-top: 360px;
}

.how p {
  font-size: 18px;
  margin-top: 15px;
}

.banner {
  height: 500px;
  background-image: url(../img/index-banner.jpg);
  background-position: center;
}

.phone {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.phone img {
  height: 510.66px;
}

.smart {
  height: 500px;
  background-image: url(../img/scooter.jpg);
  background-size: cover;
  color: white;
  text-align: center;
  position: relative;
  margin-bottom: 32px;
}

.smart-text {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translateY(-50%);
}

.smart-text h2 {
  font-size: 3rem;
  margin-bottom: 16px;
}

.smart-text p {
  font-size: 1.25rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
